body{
  font-family: Helvetica;
}

h1 {
  font-size: 100px;
  color: khaki;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
}

h2 {
font-size: 32px;
font-weight: bold;
color: white;
}

.b {
  background-color: mediumspringgreen;
}

.f {
background-color: lightcoral;
}

.p{
  background-color: skyblue;
}

.fr{
  font-weight: bold;
  color: blue;
}
